@using Nop.Web.Framework
@model Nop.Plugin.Payments.OkPay.Models.ConfigurationModel

@{
    Layout = "";
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>If you're using this gateway ensure that your primary store currency is supported by OkPay</b>
                    <br/><b>For plug-in configuration, you must perform the following actions:</b>
                    <br/><br/>
                    1. Sign up on the website okpay.com<br/>
                    2. Sign in to your personal cabinet<br/>
                    3. Fill out the field «Wallet ID»
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WalletId_OverrideForStore, model => model.WalletId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WalletId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WalletId)
                        @Html.ValidationMessageFor(model => model.WalletId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.OrderDescription_OverrideForStore, model => model.OrderDescription, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.OrderDescription)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.OrderDescription)
                        @Html.ValidationMessageFor(model => model.OrderDescription)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Fees_OverrideForStore, model => model.Fees, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Fees)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.Fees, Model.AvailableFees)
                        @Html.ValidationMessageFor(model => model.Fees)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage_OverrideForStore, model => model.ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage)
                        @Html.ValidationMessageFor(model => model.ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage)
                    </div>
                </div>
@*
                Currently OkPay does not support a separate parameter discounts and gift cards.
                Therefore, the code commented out. OkPay developers promise to include support for gift cards in the near future.
                TODO: Uncomment next time 
*@
@*
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PassProductNamesAndTotals_OverrideForStore, model => model.PassProductNamesAndTotals, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PassProductNamesAndTotals)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PassProductNamesAndTotals)
                        @Html.ValidationMessageFor(model => model.PassProductNamesAndTotals)
                    </div>
                </div>
*@
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
