@{
    Layout = "_ConfigurePlugin";
}

@model Nop.Plugin.Payments.OkPay.Models.ConfigurationModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentOkPay" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>If you're using this gateway ensure that your primary store currency is supported by OkPay</b>
                    <br /><b>For plug-in configuration, you must perform the following actions:</b>
                    <br /><br />
                    1. Sign up on the website okpay.com<br />
                    2. Sign in to your personal cabinet<br />
                    3. Fill out the field «Wallet ID»
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WalletId_OverrideForStore" asp-input="WalletId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WalletId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WalletId" />
                        <span asp-validation-for="WalletId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="OrderDescription_OverrideForStore" asp-input="OrderDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="OrderDescription" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OrderDescription" />
                        <span asp-validation-for="OrderDescription"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Fees_OverrideForStore" asp-input="Fees" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Fees" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="Fees" asp-items="Model.AvailableFees"/>
                        <span asp-validation-for="Fees"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage_OverrideForStore" asp-input="ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage" />
                        <span asp-validation-for="ReturnFromOkPayWithoutPaymentRedirectsToOrderDetailsPage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PassBillingInfo_OverrideForStore" asp-input="PassBillingInfo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PassBillingInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PassBillingInfo" />
                        <span asp-validation-for="PassBillingInfo"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
